{% extends 'sms/base.html'%}

{% block content%}

<div class="col-sm-10">
  <h4>Send  message </h4>
  <div class="col-md-12">
    <form class="form-group" action="" method="POST">
    {% csrf_token %}
    Recepients: <br/>
    <textarea name="phone_numbers" id="phone" class="form-control" cols="14" rows="4" placeholder="Enter or paste number/s"></textarea>
    <br/>
    Message: <br/>
    <textarea name="text_message" id="phone" class="form-control" cols="14" rows="6" placeholder="Type your message here"></textarea>

  <br/>

    <small class="text-muted">sms will go out with sender ID: {{user.profile.sender_Id}}</small>
    <br>
    <input class="btn btn-secondary" type="submit" value="Send Now"/>
    </form>


  </div>

</div>



{% endblock content %}
